{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div  class="content p-3 mb-2 bg-secondary">
    <h1>View Tests</h1>

    <table class="table">
        <tr class="thead-dark">
            <th scope="col">Test ID</th>
            <th scope="col">Config</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Workers</th>
        </tr>
        {% for test in tests %}
            <tr>
                <td scope="row">{{ test.id }}</td>
                <td>{{ test.config }}</td>
                <td>{{ test.start }}</td>
                <td>{{ test.end }}</td>
                <td>{{ test.workers }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}