{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="p-3 mb-2 bg-secondary overflow-hidden">
        <h1>View Test {{ test.id }} Summary</h1>
        
        <div style="margin-left:5%">
            <div class="box_section col-lg-12 rounded bg-dark text-white" style="width:90%">
                <h2>Test Configuration</h2>
                <div class="box_section bg-light rounded text-body">
                    <td><strong>Test ID:</strong> {{ test.id }}</td>
                    <br>
                    <td><strong>Configuration:</strong> {{ test.config }}</td>
                    <br>
                    <td><strong>Start Time:</strong> {{ test.start }}</td>
                    <br>
                    <td><strong>End Time:</strong> {{ test.end }}</td>
                    <br>
                    <td><strong>Number of Workers:</strong> {{ test.workers }}</td>
                </div>
            </div>
            <div class="box_section col-lg-12 rounded bg-dark text-white" style="width:90%">
                <h2>Test Summary</h2>
                <div class="row" style="margin-left:4%">
                    <div class="box_section bg-light col-lg-5 rounded  text-dark">
                        <div >
                            <h3>System Metrics</h3>
                            {% for metric in metrics %}
                            <div class="border-bottom border-secondary">
                                <td id="met{{metric.test_id}}"><strong>Metric ID:</strong> {{ metric.id }}</td>
                                <br>
                                <td><strong>Time:</strong> {{ metric.time }}</td>
                                <br>
                                <td><strong>Metric Type:</strong> {{ metric.metric_type }}</td>
                                <br>
                                <td><strong>Value:</strong> {{ metric.metric_value }}</td>
                                <br>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box_section bg-light border-bottom col-lg-5 rounded text-dark">
                        <div>
                            <h3>Requests</h3>
                            {% for request in requests %}
                            <div class="border-bottom border-secondary">
                                <td id="req{{request.test_id}}"><strong>Request ID:</strong> {{ request.id }}</td>
                                <br>
                                <td><strong>Time Sent:</strong> {{ request.time_sent }}</td>
                                <br>
                                <td><strong>Request Type:</strong> {{ request.request_type }}</td>
                                <br>
                                <td><strong>Request Length:</strong> {{ request.request_length }}</td>
                                <br>
                                <td><strong>Response Type:</strong> {{ request.response_type }}</td>
                                <br>
                                <td><strong>Response Length:</strong> {{ request.response_length }}</td>
                                <br>
                                <td><strong>Duration:</strong> {{ request.duration }}</td>
                                <br>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}