body {
    margin: 5;
    font-family: sans-serif;
}

/* *{ border: 1px solid red; } */

html, body {
    height:100%;
}

h1, h2 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

table {
    padding: 2%;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

td {
    margin: 5;
}

table {
    border-collapse: collapse;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.box_section {
    background-color: white;
    padding: 2%;
    margin: 2%;
}
