body {
    margin: 5;
    font-family: sans-serif;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

content {
    text-align: center;
}

.box_section {
    border: 1px solid black;
    float: left; 
    width: 50%"
}